@media only screen and (max-width: 767px) {
    div#myModal {
        width: 100% !important;
    }
    .form-check {
        padding-left: unset !important;
        width: 3rem !important;
    }
    div#AddUserModal1 {
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    h4.card-title {
        font-size: 1rem;
    }
}

.col-4.pt-4.Yellow::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 4px; /* Adjust the width as needed */
    height: 100%; /* Height to match the column height */
    background-color: #F3BC44; /* Color of the vertical line */
}

button#submitForm {
    background-color: #7254A3 !important;
    color: white;
    width: 105px;
    height: 28px;
    line-height: 1px;
    border-radius: 6px;
}
button#addOption {
    background-color: #7254A3 !important;
    height: 28px;
    line-height: 1px;
    border-radius: 6px;
}
h4.card-title {
    color: #7254A3 !important;
}
.btn-primary {
    border-color: #7254A3;
    background-color: #7254A3;
    float: left;
}
button#addQuestion {
    color: white;
    background: #7254A3;
    color: white;
    background: #7254A3;
    border: none;
    height: 28px;
    line-height: 1px;
    border-radius: 6px;
}
input#name {
    border: 1px solid #7254A3;
}
input#propertyActivityType {
    border: 1px solid #7254A3;
}
a#myBtn {
    background-color: #7254A3 !important;
    width: 119px;
    height: 35px;
    line-height: 13px;
    border: 1px solid #18568B;
    border-radius: 7px;
}
tbody {
    color: #7e7e7e !important;
}

.star {
    color: #E82A2A;
}

#mr {
    margin-right: 0.5rem;
}

h4.card-title {
    font-weight: bold;
}
a#myBtn {
    background-color: #7254A3 !important;
}

#background {
    background: #F8F8F8 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

.form-control:focus {
    border-color: #0982EA !important
}

input::placeholder {
    color: #0982EA !important;
}

a#color {
    background: #E4E2E2 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    margin: 5px;
    padding: 3px 7px 3px 7px;
}
button#myBtn7 {
    width: 121px;
    height: 25px;
}
input::placeholder {
    color: #A5A5A5 !important;
}
.form-check {
    padding-left: unset !important;
    width: 5rem !important;
}

